*{
    font-family: "Spectral", serif;

}

h1{
    text-align: center;
    color: black;
    line-height: 50%;
letter-spacing: 2px;}
td{
    text-align: center;
border: 2px solid black;
padding: 10px;
background-color: aquamarine;
}
.space{
    border: none;
    background-color: white;
}
.no{
    border: none;
    background-color: white;
}
/* td:hover{
    cursor: cell;
    filter: brightness(10%);
    font-size: 26px;
} */
td:hover{
    font-size: 25px;
    cursor: cell;
    font-weight: 800;
}